body{
    background-color: yellowgreen;
}

#title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    font-weight: bold;
    
}

#sketch{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    font-weight: bold;
}

#confidence{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    font-weight: bold;
}

#sketch_to_be_drawn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:red;
    font-weight: bold;
}

#score{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    font-weight: bold;
    float: left;
    margin-left: 20px;
}

#timer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;    
    font-weight: bold;
    float: right;
    margin-right: 100px;
}

#show_sketch{
    float: right;
    margin-right: 10px;
}
    
h1
{
  font-family: 'Special Elite', fantasy;
  color:rgb(38, 0, 255);
}

#show_sketch
{
  float:right;
}

#my_canvas
  {
    border:5px solid white;
    margin-left: 100px;
    background-color: white;
    border-radius:20px;
    box-shadow:5px 5px 5px grey;
    box-shadow: 1px 1px 38px #ffffff;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {

  from {box-shadow: 1px 1px 38px grey;}
  to {box-shadow: 1px 1px 38px white;}

}


p, span
  {
    padding-top:10px;
    font-family: 'Special Elite', fantasy;
    font-size:25px;
    
  }

